.no-border-left {
    border-left: none;
}

.no-border-right {
    border-right: none;
}

.blue-background {
    background-color: lightblue;
    text-align: right;
}

.hover-pointer {
    cursor: pointer;
}