.icon-summary {
    background-image: url("../../assets/UI/Icon/calendar-60.svg");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center;
    width: 30px;
    height: 30px;
}

.icon-paint-brush-line {
    background-image: url("../../assets/UI/Icon/paint-brush-line.svg");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center;
    width: 30px;
    height: 30px;
}

.icon-common {
    background-image: url("../../assets/UI/Icon/common.svg");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center;
    width: 30px;
    height: 30px;
}

.icon-community-line {
    background-image: url("../../assets/UI/Icon/community-line.svg");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center;
    width: 30px;
    height: 30px;
}

.icon-computer-line {
    background-image: url("../../assets/UI/Icon/computer-line.svg");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center;
    width: 30px;
    height: 30px;
}

.icon-setting {
    background-image: url("../../assets/UI/Icon/settings.svg");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center;
    width: 30px;
    height: 30px;
}

.icon-search-eye {
    background-image: url("../../assets/UI/Icon/search-eye-line.svg");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center;
    width: 30px;
    height: 30px;
}

.icon-hamburger-menu {
    background-image: url("../../assets/UI/Icon/hamburger-menu.svg");
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
}

.icon-pie-chart-line {
    background-image: url("../../assets/UI/Icon/pie-chart-line.svg");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center;
    width: 30px;
    height: 30px;
}

.icon-bell {
    background-image: url("../../assets/UI/Icon/bell.svg");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: center;
    width: 30px;
    height: 30px;
}

.icon-help {
    background-image: url("../../assets/UI/Icon/help.svg");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: center;
    width: 30px;
    height: 30px;
}

.icon-refresh-time {
    background-image: url("../../assets/icon/print.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 15px;
    height: 15px;
    margin: 0 4px;
    background-size: 20px !important;
}

.icon-edit-pen {
    background-image: url("../../assets/UI/Icon/edit-pen.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.icon-trash-table {
    background-image: url("../../assets/UI/Icon/trash.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.icon-cancel {
    background-image: url("../../assets/UI/Icon/cancel.svg");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: center;
    width: 30px;
    height: 30px;
}

.icon-search {
    /*background-image: url("../../assets/icon/search.png");*/
    background-image: url("../../assets/UI/Icon/search-512.webp");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: right;
    width: 30px;
    height: 30px;
}

.icon-divider {
    background-image: url("../../assets/UI/Icon/Divider.svg");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center;
    width: 30px;
    height: 30px;
}

.icon-down {
    background-image: url("../../assets/UI/Icon/i_arrow_up_small.svg");
    background-repeat: no-repeat;
    background-size: 9px;
    transform: rotate(0deg);
    background-position: center;
    width: 10px;
    height: 10px;
}

.icon-seperator {
    background-image: url("../../assets/UI/Icon/seperator.svg");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center;
    width: 30px;
    height: 30px;
}

.icon-trash {
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
    width: 40px;
    height: 40px;
    padding: 6px;
    background: url(/img/qlts-icon.d656886f.svg) no-repeat -454px -104px;
}

.icon-calendar {
    background-image: url("../../assets/UI/Icon/calendar-60.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
    width: 40px;
    height: 40px;
    padding: 6px;
}

.icon-refresh {
    background-image: url("../../assets/UI/Icon/refresh.svg");
    background-repeat: no-repeat;
    background-size: 22px 22px;
    background-position: center;
    width: 40px;
    height: 40px;
}

.icon-updown {
    background-image: url("../../assets/UI/Icon/updown.png");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: center;
    width: 20px;
    height: 20px;
    opacity: 0.5;
    
}

.logo-page {
    background-image: url("../../assets/UI/Icon/logo-qlts.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    height: inherit;
    width: 44px;
    &:hover {
        cursor: pointer;
    }
}